.celsiusAndFahrenheit{

margin-bottom: 2em;
text-align: center;
background-color: antiquewhite;
padding: 1em;
box-shadow: 0 0 4px black;
}

.feetAndMeter{
margin-bottom: 2em;
text-align: center;
background-color: antiquewhite;
padding: 1em;
box-shadow: 0 0 4px black;

}

h2{
text-align: center;
margin-bottom: 1em;
font-size: 2em;
}

input{
  padding: 1em;
    width: 50%;
    margin-bottom: 1em;
}

button{
background-color: rgb(3, 3, 88);
color: white;
padding: 1em;
border-radius: 8%;
margin-bottom: 1em;
margin-top: 1em;
font-size: 1.2em;   
}

p{
font-size: 1.2em;
color: rgb(32, 31, 31);
}