/* You can add global styles to this file, and also import other style files */
*{
margin: 0;

}

body{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1em;
line-height: 1.5em;
background-color: rgb(243, 235, 225);
  
}

.container {
    max-width: 1400px;
    margin: 0 auto;

}




main{
background-color: #fcf9f9;
padding: 1em;
min-height: 20em;
box-shadow: 0 0 0.3em rgb(5, 0, 0);

}